@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Dovemayo', 'Pretendard';
}

form:focus,
a:focus,
input:focus,
button:focus,
select:focus {
  outline: none;
}

a:-webkit-any-link {
  cursor: pointer;
}

input[type='text'],
input[type='password'],
input[type='submit'],
input[type='search'],
button,
input[type='button'],
input[type='submit'],
input[type='reset'],
input[type='file'] {
  font-family: 'Dovemayo', 'Pretendard', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
