.login {
    /* login */
    position: relative;
    width: 414px;
    height: 896px;

    background: #FFFFFF;


    /* Group 7 */

    position: absolute;
    width: 330px;
    height: 174px;
    left: 39px;
    top: 235px;



    /* Remember me */

    position: absolute;
    width: 86.31px;
    height: 22px;
    left: 59.31px;
    top: 387px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 22px;
    /* identical to box height, or 200% */

    color: #2E2E2E;



    /* Forgot Password */

    position: absolute;
    width: 96.46px;
    height: 22px;
    left: 272.54px;
    top: 387px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 22px;
    /* identical to box height, or 200% */

    color: #2E2E2E;



    /* Rectangle 78 */

    box-sizing: border-box;

    position: absolute;
    width: 15.23px;
    height: 15px;
    left: 39px;
    top: 390px;

    border: 1px solid #343F52;
    border-radius: 4px;


    /* Your Email */

    position: absolute;
    width: 330px;
    height: 56px;
    left: 39px;
    top: 311px;



    /* Rectangle 75 */

    position: absolute;
    width: 330px;
    height: 56px;
    left: 39px;
    top: 311px;

    background: #ADADAD;
    mix-blend-mode: normal;
    opacity: 0.1;
    border-radius: 100px;


    /* Your Name */

    position: absolute;
    width: 70.06px;
    height: 21px;
    left: 62.35px;
    top: 330px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;
    letter-spacing: -0.28px;

    color: #000000;

    mix-blend-mode: normal;
    opacity: 0.2;


    /* Name */

    position: absolute;
    width: 330px;
    height: 56px;
    left: 39px;
    top: 235px;



    /* Rectangle 74 */

    position: absolute;
    width: 330px;
    height: 56px;
    left: 39px;
    top: 235px;

    background: #ADADAD;
    mix-blend-mode: normal;
    opacity: 0.1;
    border-radius: 100px;


    /* Your Name */

    position: absolute;
    width: 78.18px;
    height: 21px;
    left: 62.35px;
    top: 254px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;
    letter-spacing: -0.28px;

    color: #000000;

    mix-blend-mode: normal;
    opacity: 0.2;


    /* Glad to meet you again! */

    position: absolute;
    width: 290px;
    height: 60px;
    left: 59px;
    top: 136px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 30px;
    /* or 107% */
    text-align: center;

    color: #032426;



    /* Frame 2 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 29px;

    position: absolute;
    width: 303px;
    height: 54px;
    left: 52px;
    top: 613px;



    /* 네이버 로그인 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    width: 54px;
    height: 54px;

    background: #FEE500;
    border-radius: 9999px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;


    /* 카카오 로고 */

    width: 28px;
    height: 28px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;


    /* Path */

    position: absolute;
    left: 0%;
    right: 0%;
    top: 3.33%;
    bottom: 3.33%;

    background: #000000;


    /* 네이버 로그인 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    width: 54px;
    height: 54px;

    background: #03C75A;
    border-radius: 9999px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;


    /* 네이버 로고 */

    width: 20px;
    height: 20px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;


    /* Path */

    position: absolute;
    left: 0%;
    right: 0%;
    top: 100%;
    bottom: -100%;

    background: #FFFFFF;
    transform: matrix(1, 0, 0, -1, 0, 0);


    /* 네이버 로그인 */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    width: 54px;
    height: 54px;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 9999px;

    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;


    /* flat-color-icons:google */

    width: 32px;
    height: 32px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}